.formUpdateEmail {
    margin-top: 50px;
}

p {
    font-size: 12px;
}

#newPassword {
    width: 25%;
}

#changeButton {
    margin-top: 20px;
}

.ownerName {
    /* background-color:burlywood; */
    width: 25%;
}

#ownerName,
#linkToEdit {
    display: inline-block;
}

#ownerName {
  
}

#linkToEdit {
    margin-left: 20px;
}