
<div class="hk-wrapper">
    <div class="hk-pg-wrapper hk-auth-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 pa-0">
                    <div id="owl_demo_1" class="owl-carousel dots-on-item owl-theme">
                        <!-- <img src="imgs/logos/bg2.png"> -->
                        <img src="images/logos/bg_park_car.jpg" width="545" height="775">
                    </div>
                </div>
                <div class="col-xl-7 pa-0">
                    <div class="auth-form-wrap py-xl-0 py-50">
                        <div class="auth-form w-xxl-55 w-xl-75 w-sm-90 w-xs-100">
                            <form name="formEmail" ng-controller="forgotPasswordCtrl">
                                <div class="form-group">
                                    <input class="form-control" ng-model="user.email" placeholder="e-mail" type="email" required>
                                </div>
                               
                                <button class="btn btn-primary btn-block" ng-disabled="typeUser" ng-click="forgotPassword(user)">Enviar</button>
                                
                                <div id="msgErro">
                                    {{msgErro}}
                                </div>
                                <div id="msg">
                                    {{msg}}
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>